<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to work analyzer. Enter you word!</h1>
<form action="/analyze" method="get">
  <textarea name="text" style="margin: 0px; width: 697px; height: 73px;"></textarea><br>
  <input type="checkbox" name="removepunc">Remove Punctuations</input><br>
  <input type="checkbox" name="fullcaps">To Uppercase</input><br>
  <input type="checkbox" name="newlineremover">Removes New Lines</input><br>
  <input type="checkbox" name="spaceremover">Removes Extra Space</input><br>
  <input type="checkbox" name="Length">Gives Length of the string</input><br>
  <button type="Submit">Analyze Text</button>

</body>
</html>